@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: #313338;
}

/* headings */

h1, h2 {
    font-family: Tenor Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #fafafa;
}

/* logo */

#logo {
    float: left;
    color: #d9a23d;
    margin: 5px 0 0 30px;
}

/* nav section */

nav {
    width: 100%;
    height: 85px;
    background-color: #01261F;
}

#nav-links {
    font-size: 110%;
    letter-spacing: 4px;
    color: #d9a23d;
}

#nav-links, #logo {
    line-height: 75px;
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border-bottom: 1px solid #d9a23d;
}

.active {
    border-bottom: 1px solid #d9a23d;
}