@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #e8e8e8;
}

/* headings */

h1, h2 {
    font-family: Tenor Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

/* logo */

#logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 135%;
    letter-spacing: 6px;
    color: #3a3a3a;
}

header a {
    text-decoration: none;
}

#logo img {
    width: 50px;
    height: 50px;
    padding-right: 15px;
}

/* nav section */

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100%;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#nav-links, #logo {
    line-height: 50px;
}

#nav-links li {
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero-container {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#site-subheading, #site-subheading h2 {
    color: #fafafa;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/heroimage.jpg') no-repeat center center;
}

hr {
    border-top: 1px solid #fafafa;
    width: 250px;
    margin: 5px 0;
}

#site-subheading {
    font-size: 130%;
    font-family: Tenor Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 300px;
    height: 200px;

    padding: 40px 0 0 10px;

    background-color: rgba(55, 114, 63, 0.7);

    bottom: 30px;
    left: 0;

    position: absolute;
}

/* Academy info section */

#academy-info {
    width: 100%;
    margin: 0 auto;
}

#greeting {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    font-size: 200%;
}

/* About us section */

.heading-spacer {
    border-top: 1px solid #3a3a3a;
    width: 250px;
    padding: 5px 0;
    margin: 5px 0;
}

#about-heading, #trad-info-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text-background {
    background-color: rgba(114, 113, 55, 0.7);
    padding-bottom: 20px;
}

#academy-info p {
    padding: 5px 25px;
    color: #fafafa;
}

#academy-info img {
    width: 100%;
    height: 350px;
    padding-bottom: 15px;
    margin: 0 auto;
}

/* Trad info section */

#trad-info-heading h2 {
    padding-top: 30px;
}