@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:wght@300&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Initial body style */

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #e8e8e8;
}

/* headings */

h1,
h2 {
    font-family: Tenor Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

/* logo */

#logo {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 135%;
    letter-spacing: 6px;
    color: #3a3a3a;
}

header a {
    text-decoration: none;
}

#logo img {
    width: 50px;
    height: 50px;
    padding-right: 15px;
}

/* nav section */

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100%;
    letter-spacing: 2px;
    color: #3a3a3a;
}

#nav-links,
#logo {
    line-height: 50px;
}

#nav-links li {
    list-style-type: none;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

/* Indicator showing user what page user is on */

#nav-links a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero image */

#hero-container {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Text changed to off-white for readability */

#site-subheading,
#site-subheading h2 {
    color: #fafafa;
}

#hero-image {
    height: 550px;
    width: 100%;
    background: url('../images/heroimage.jpg') no-repeat center center;
}

hr {
    border-top: 1px solid #fafafa;
    width: 250px;
    margin: 5px 0;
}

/* Subheading gives users extra insight into site content */

#site-subheading {
    font-size: 130%;
    font-family: Tenor Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding: 40px 0 0 10px;
    background-color: rgba(55, 114, 63, 0.7);
    bottom: 30px;
    left: 0;
    position: absolute;
}

/* Academy info section */

#academy-info {
    width: 100%;
    margin: 0 auto;
}

#greeting {
    text-align: center;
    padding: 30px 0;
    margin: 0;
    font-size: 200%;
}

/* About us section */

/* Slightly thickening hr to excentuate it infront of image */

.heading-spacer {
    border-top: 2px solid #fafafa;
    width: 150px;
}

#about-heading,
#trad-info-heading,
#why-learn-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gold tint background deacreases large white space */

.info-text-background {
    background-color: rgba(114, 113, 55, 0.7);
    padding-bottom: 15px;
}

.text-outline {
    border: 2px solid #fafafa;
    margin: 0 10px;
}

p {
    padding: 10px;
    color: #fafafa;
}

/* Giving image a container to position text inside */

.info-img-container {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    position: relative;
}

/* Slighly darken image to excentuate heading element */

#academy-info img {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    margin: 0 auto;
    filter: brightness(50%);
}

.info-title {
    font-size: 175%;
}

/* Style for positioning heading element in center of img container */

.info-title,
.heading-spacer {
    color: #fafafa;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-spacer {
    top: 200px;
}

/* [What is Trad?] section spacer (hr), is longer as heading content is longer */

#trad-info-heading .heading-spacer {
    width: 200px;
}

/* Why learn section */

/* Why learn image is taller to prevent the image being distorted */

#why-learn-heading .info-img-container,
#why-learn-heading img {
    height: 300px;
}

/* As img element is taller, the heading spacer position must be adjusted accordingly */

#why-learn-heading .heading-spacer {
    top: 175px;
}

/* Quotes section */

/* Style for quote text, bar and background */
.quote {
    font-size: 100%;
    width: 60%;
    margin: 50px auto;
    font-family: Open Sans, sans-serif;
    font-style: italic;
    color: #3a3a3a;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78c088;
    line-height: 1.6;
    position: relative;
    background: #fafafa;
}

/* Places quote icon next to text */
.quote::before {
    font-family: Arial;
    content: "\201C";
    color: #78c088;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

/* Changes style of quote author */
.quote span {
    display: block;
    color: #302f2f;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

/* Footer */

footer {
    height: 200px;
    background-color: #78c088;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 27px 27px 5px 27px;
    color: #fafafa;
}

#contact-info {
    font-size: 120%;
    text-align: center;
    color: #fafafa;
    margin-top: 5px;
}

#contact-info p {
    padding: 4px;
    margin-bottom: 4px;
}

/* Lessons page */

/* Header image */

#lessons-header-image {
    height: 600px;
    width: 100%;
    background: url('../images/lessonsheaderimagemobile.jpg') no-repeat center center;
}

/* Container for intro and instrument information */

#instruments-info {
    width: 100%;
    margin: 0 auto;
}

/* Lessons intro section */

#lessons-intro {
    display: block;
    margin: 0 auto;
    width: 90%;
}

#lessons-title {
    text-align: center;
    padding-top: 10px;
    font-size: 170%;
}

#lessons-intro p {
    color: #3a3a3a;
}

/* Instrument image styles */

.instrument-img-container {
    width: 300px;
    height: 300px;
    padding: 25px;
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.lessons-img-style {
    height: 100%;
    border-radius: 50%;
}

#banjo-img {
    background: url('../images/banjoimage.jpg') no-repeat center center;
}

#mandolin-img {
    background: url('../images/mandolinimage.jpg') no-repeat center center;
}

#fiddle-img {
    background: url('../images/fiddleimage.jpg') no-repeat center center;
}

#guitar-img {
    background: url('../images/guitarimage.jpg') no-repeat center center;
}

#piano-img {
    background: url('../images/pianoimage.jpg') no-repeat center center;
}

/* Instrument paragraph content styles */

.instruments-text-background {
    background-color: rgba(114, 113, 55, 0.7);
    padding: 15px 0;
    margin: 15px 0;
}

/* Connects piano div to footer */

#piano-div .instruments-text-background {
    margin-bottom: 0;
}

.instrument-heading {
    text-align: center;
    color: #fafafa;
    padding-top: 10px;
}

strong {
    font-weight: 700;
}

audio {
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    width: 95%;
}

.padding-for-audio {
    padding-bottom: 20px;
}

/* Sign Up button */

.signup-mobile-position {
    margin: 10px auto 0 auto;
    display: block;
}

.signup-button {
    border-radius: 5px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 15px;
    background: #1E9E3A;
    width: 60px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    text-decoration: none;
}

.signup-button:hover {
    background: #78C088;
    text-decoration: none;
}